@font-face{
    src: url("../fonts/RobotoMono-Medium.ttf");
}

@font-face{
  font-family: 'Mulish';
  src: url('../fonts/Mulish-Bold.ttf') format('truetype');
}

/*
.label, .text, .tab {
    -fx-font-family: "Roboto Mono Medium";
}
*/

.list-cell {
    -fx-padding: 0px;
}
/*
.jfx-dialog {
    -fx-background-color: yellow;
}

.jfx-dialog-layout {
    -fx-background-color: red;
}
*/

<!--
#subWalletId:focused {
    -fx-prompt-text-fill: red;
}
-->


.jfx-snackbar-content:info-toast {
    -fx-background-color: dbedff;
}

.jfx-snackbar-content:success-toast{
    -fx-background-color: limegreen;
}
.jfx-snackbar-content:warning-toast{
    -fx-background-color: ORANGE;
}
.jfx-snackbar-content:error-toast{
    -fx-background-color: lightcoral;
}
.jfx-snackbar-content:fatal-toast{
    -fx-background-color: BLACK;
}

<!--
.label:hover {
    -fx-background-color: #9ACD32;
}
-->

/* Styling the filled track */
.jfx-slider>.colored-track {
    -fx-background-color: #0088CC;
}

.jfx-slider>.track {
    -fx-background-color: #0088CC;
}

.jfx-slider>.animated-thumb {
    -fx-background-color: #0088CC;
}

/* Styling the slider thumb */
.jfx-slider>.thumb {
    -fx-background-color: #0088CC;
}


.progress-bar {
    -fx-accent: #0088CC;
}

.progress-bar .bar {
    -fx-padding: 1px;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.progress-bar > .track {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-text-box-border: transparent;
    -fx-control-inner-background: transparent;
    -fx-background-color: rgba(255, 255, 255, 0.1);
}

/*
 #0088CC;

*/
.jfx-tab-pane .headers-region {
    -fx-background-color: #FFFFFF;
}
.jfx-tab-pane .tab-header-background {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #1F1F1F;
}

.jfx-tab-pane .tab-selected-line {
    -fx-stroke: #0088CC;
    -fx-stroke-width: 3pt;
}


/* Fonts Used */
.label-second-font-14 {
    -fx-font-family: "Mulish";
    -fx-text-fill: #1F1F1F;
    -fx-font-size: 14px;
}

.label-second-font-16 {
    -fx-font-family: "Mulish";
    -fx-text-fill: #1F1F1F;
    -fx-font-size: 16px;
}
/*
#infoValidator > Label {
        -fx-font-family: "Roboto Mono Medium";
        -fx-text-fill: #1F1F1F;
}
*/

#infoValidator > Label, #paneValidator1 > Label, #paneValidator2 > Label, #paneValidator3 > Label,
#paneValidator4 > Label, #paneValidator5 > Label, #paneValidator6 > Label, #paneValidator7 > Label,
#settingsPaneValidator1 > Label, #settingsPaneValidator1 > JFXTextField, #settingsPaneValidator2 > Label, #settingsPaneValidator2 > JFXTextField,
#settingsPaneValidator3 > Label, #settingsPaneValidator3 > JFXTextField, #settingsPaneValidator4 > Label, #settingsPaneValidator4 > JFXTextField,
#settingsPaneValidator5 > Label, #settingsPaneValidator5 > JFXTextField, #settingsPaneValidator6 > Label, #settingsPaneValidator6 > JFXTextField,
#settingsPaneValidator7 > Label, #settingsPaneValidator7 > JFXTextField {
        -fx-font-family: "Roboto Mono Medium";
        -fx-text-fill: #1F1F1F;
}
/*
#settingsPaneValidator1 > Label, #settingsPaneValidator1 > JFXTextField,
#settingsPaneValidator2 > Label, #settingsPaneValidator2 > JFXTextField,
#settingsPaneValidator3 > Label, #settingsPaneValidator3 > JFXTextField,
#settingsPaneValidator4 > Label, #settingsPaneValidator4 > JFXTextField,
#settingsPaneValidator5 > Label, #settingsPaneValidator5 > JFXTextField,
#settingsPaneValidator6 > Label, #settingsPaneValidator6 > JFXTextField,
#settingsPaneValidator7 > Label, #settingsPaneValidator7 > JFXTextField {
    -fx-font-family: "Roboto Mono Medium";
    -fx-text-fill: #1F1F1F;
}
*/

.tab-label {
    -fx-font-family: "Roboto Mono Medium";
    -fx-text-fill: #1F1F1F;
}