@font-face{
    src: url("../fonts/RobotoMono-Medium.ttf");
}

@font-face{
  font-family: 'Mulish';
  src: url('../fonts/Mulish-Bold.ttf') format('truetype');
}

/*
.label, .text, .tab {
    -fx-font-family: "Roboto Mono Medium";
}
*/

.list-cell {
    -fx-padding: 0px;
}
/*
.jfx-dialog {
    -fx-background-color: yellow;
}

.jfx-dialog-layout {
    -fx-background-color: red;
}
*/

<!--
#subWalletId:focused {
    -fx-prompt-text-fill: red;
}
-->


.jfx-snackbar-content:info-toast {
    -fx-background-color: dbedff;
}

.jfx-snackbar-content:success-toast{
    -fx-background-color: limegreen;
}
.jfx-snackbar-content:warning-toast{
    -fx-background-color: ORANGE;
}
.jfx-snackbar-content:error-toast{
    -fx-background-color: lightcoral;
}
.jfx-snackbar-content:fatal-toast{
    -fx-background-color: BLACK;
}

<!--
.label:hover {
    -fx-background-color: #9ACD32;
}
-->

/* Styling the filled track */
.jfx-slider>.colored-track {
    -fx-background-color: #0088CC;
}

.jfx-slider>.track {
    -fx-background-color: #0088CC;
}

.jfx-slider>.animated-thumb {
    -fx-background-color: #0088CC;
}

/* Styling the slider thumb */
.jfx-slider>.thumb {
    -fx-background-color: #0088CC;
}


.progress-bar {
    -fx-accent: #0088CC;
}

.progress-bar .bar {
    -fx-padding: 1px;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.progress-bar > .track {
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-text-box-border: transparent;
    -fx-control-inner-background: transparent;
    -fx-background-color: rgba(255, 255, 255, 0.1);
}

.jfx-tab-pane .headers-region {
    -fx-background-color: #0088CC;
}
.jfx-tab-pane .tab-header-background {
    -fx-background-color: #0088CC;
}
.jfx-tab-pane .tab-selected-line {
    -fx-stroke: #0088CC;
    -fx-stroke-width: 3pt;
}

/* Fonts Used */
.label-second-font-14 {
    -fx-font-family: "Mulish";
    -fx-text-fill: #1F1F1F;
    -fx-font-size: 14px;
}

.label-second-font-16 {
    -fx-font-family: "Mulish";
    -fx-text-fill: #1F1F1F;
    -fx-font-size: 16px;
}