@font-face{
    font-family: 'Roboto Mono Medium';
    src: url("../fonts/RobotoMono-Medium.ttf");
}

.row-label-normal {
    -fx-font-family: "Roboto Mono Medium";
    -fx-alignment: center;
    -fx-text-fill: #1F1F1F;
    -fx-font-size: 14px;
}

.row-label-small {
    -fx-font-family: "Roboto Mono Medium";
        -fx-alignment: center;
        -fx-text-fill: #1F1F1F;
        -fx-font-size: 12px;
}

/*
background: #1F1F1F;

style="-fx-alignment: center; -fx-font-size: 14;"
style="-fx-alignment: center; -fx-font-size: 14;"
style="-fx-alignment: center; -fx-font-size: 14;"


style="-fx-alignment: center; -fx-font-size: 11;"

.label, .text, .tab {
    -fx-font-family: "Roboto Mono Medium";
}
*/


.row-pane {
    -fx-background-color: #FFFFFF;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 2;
    -fx-border-color: #e7e7e7;
}

.block-row-pane:hover {
    -fx-background-color: #E9F4FF;
}

.block-row-pane-gray {
    -fx-background-color: #F7F9FB;
    -fx-border-style: hidden hidden solid hidden;
    -fx-border-width: 2;
    -fx-border-color: #e7e7e7;
}

.background-info-button:hover {
    -fx-background-color: #0088CC;
    -size: 30;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-shape: "M8 0h14s8 0 8 8v14s0 8 -8 8h-14s-8 0 -8 -8v-14s0 -8 8 -8";
}

.info-svg {
    -fx-fill: #0088CC;
}

.background-info-button:hover>.button>.info-svg {
    -fx-fill: #F7F9FB;
}


