@font-face{
  font-family: 'Mulish ExtraBold';
  src: url('../fonts/Mulish-ExtraBold.ttf') format('truetype');
}

.jfx-dialog-overlay-pane > StackPane{
    -fx-background-color: transparent;
}
/*

.jfx-dialog-overlay-pane > StackPane{
-fx-background-color: transparent;
    -fx-background-radius: 20;
    -fx-background-color: #FFFFFF;
    -fx-padding: 0px;
    -fx-insets: 0px;
}


-fx-background-color: #dbedff;  */
.header-label-yes-no {
    -fx-background-color: #dbedff;
    -fx-padding: 0 0 0 20;
}

.content-header-label {
    -fx-font-family: "Mulish ExtraBold";
    -fx-text-fill: #303757;

}

.content-list-view {
    -fx-background-color: #FFFFFF;
}



/*




.main-label-font {
    -fx-font-family: "Mulish ExtraBold";
    -fx-font-weight: 800;
    -fx-text-fill: #303757;
}

.content-label-size {
    -fx-alignment: center;
    -fx-font-size: 16;
}
*/