.menu-expand-button {
    -fx-background-radius: 10;
    -fx-background-color: #FFFFFF;
}

.menu-expand-button:hover {
    -fx-background-radius: 10;
    -fx-background-color: #F7F9FB;
}

.svg-path-expand {
    -fx-fill: #0088CC;
}

.main-label-expand {
    -fx-font-size: 16px;
    -fx-padding: 0 0 0 10;
}