@font-face{
  font-family: 'Mulish ExtraBold';
  src: url('../../fonts/Mulish-ExtraBold.ttf') format('truetype');
}

@font-face{
  font-family: 'Mulish SemiBold';
  src: url('../../fonts/Mulish-SemiBold.ttf') format('truetype');
}

.primary-label {
    -fx-font-size: 14px;
    -fx-font-family: "Mulish ExtraBold";
    -fx-text-fill: #888888;
}

.secondary-label {
    -fx-font-size: 14px;
    -fx-font-family: "Mulish SemiBold";
    -fx-text-fill: #888888;
}