.background-pane {
    -fx-background-color: #FFFFFF;
}

.lock-pane {
    -fx-background-color: black;
    -fx-opacity: 0.2;
}

.background-dialog-pane {
    -fx-background-radius: 20;
    -fx-background-color: #FFFFFF;
}

.modal-pane-content-label {
    -fx-font-size: 16px;
    -fx-text-fill: #1F1F1F;
}

.content-pane {
    -fx-background-color: White;
    -fx-background-radius: 20;
}

.custom-button-svg {
    -fx-fill: #F7F9FB;
}

.custom-button-btn {
    -fx-background-radius: 40;
    -fx-background-color: #0088CC;
    -fx-text-fill: #F7F9FB;
    -fx-font-size: 16px;
}

.custom-directory-button-svg {
    -fx-fill: #0088CC;
}

.directory-button {
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0;
}

.background-directory-button {
    -fx-background-color: #FFFFFF;
    -size: 30;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-shape: "M8 0h14s8 0 8 8v14s0 8 -8 8h-14s-8 0 -8 -8v-14s0 -8 8 -8";
}

.background-directory-button:hover {
    -fx-background-color: #E5EAFF;
    -size: 30;
    -fx-min-height: -size;
    -fx-min-width: -size;
    -fx-max-height: -size;
    -fx-max-width: -size;
    -fx-shape: "M8 0h14s8 0 8 8v14s0 8 -8 8h-14s-8 0 -8 -8v-14s0 -8 8 -8";
}