.jfx-text-field {
    -fx-padding: 0 20 0 20;
    -fx-font-size: 16px;
}
/*.jfx-button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}*/
.jfx-text-field .input-line{
	-fx-pref-height: 0px;
}

.jfx-text-field .input-focused-line{
	-fx-pref-height: 0px;
}

.search-background {
    -fx-background-color: #EFEFEF;
    -fx-background-radius: 10;
}

.search-svg {
    -fx-fill: #888888;
}

.clear-button {
    -fx-fill: #F72B50;
}