name: Test on Windows x86-64

on: [ push,workflow_dispatch,workflow_call ]

jobs:
  build:
    runs-on: windows-2019

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'adopt'

      - name: Build & Test x86-64 mainnet
        timeout-minutes: 10
        run: |
          mkdir artifacts
          git fetch -a          
          mvn clean compile package -DskipTests
          cp target/MyLocalTon.jar artifacts/MyLocalTon-x86-64.jar
          java -jar artifacts/MyLocalTon-x86-64.jar nogui debug

      - name: Build & Test x86-64 testnet
        timeout-minutes: 10
        run: |
          mvn clean compile package -DskipTests -Dton_branch=testnet
          cp target/MyLocalTon.jar artifacts/MyLocalTon-x86-64-testnet.jar
          java -jar artifacts/MyLocalTon-x86-64-testnet.jar nogui debug

      - name: Upload artifacts
        uses: actions/upload-artifact@master
        with:
          name: All-MyLocalTon-Jars
          path: artifacts
