name: Test on Ubuntu 22.04 arm64

on: [ push,workflow_dispatch,workflow_call ]

jobs:
  build:
    runs-on: ubuntu-22.04-arm

    steps:
      - uses: actions/checkout@v6
      - name: Set up JDK 21
        uses: actions/setup-java@v2
        with:
          java-version: '21'
          distribution: 'adopt'
          architecture: 'aarch64'

      - name: Build & Test arm64 mainnet
        timeout-minutes: 10
        run: |
          git fetch -a
          git checkout main
          mkdir artifacts                 
          mvn -q clean compile package -DskipTests -Darch=-aarch64
          cp target/MyLocalTon.jar artifacts/MyLocalTon-arm64.jar
          java -jar artifacts/MyLocalTon-arm64.jar nogui debug test-binaries
          sleep 5
          rm -rf artifacts/myLocalTon

      - name: Build & Test arm64 testnet
        timeout-minutes: 10
        run: |
          mvn -q clean compile package -DskipTests -Dton_branch=testnet -Darch=-aarch64
          cp target/MyLocalTon.jar artifacts/MyLocalTon-arm64-testnet.jar
          java -jar artifacts/MyLocalTon-arm64-testnet.jar nogui debug test-binaries

      - name: Upload artifacts
        uses: actions/upload-artifact@master
        with:
          name: All-MyLocalTon-Jars
          path: artifacts
