name: Update release

on: [ workflow_dispatch ]

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 21
        uses: actions/setup-java@v2
        with:
          java-version: '21'
          distribution: 'adopt'

      - name: Build x86-64 mainnet
        run: |
          mkdir artifacts
          git fetch -a
          mvn -q clean compile package -DskipTests
          cp target/MyLocalTon.jar artifacts/MyLocalTon-x86-64.jar

      - name: Build x86-64 testnet
        run: |
          mvn -q clean compile package -DskipTests -Dton_branch=testnet
          cp target/MyLocalTon.jar artifacts/MyLocalTon-x86-64-testnet.jar

      - name: Build arm64-aarch64 mainnet
        run: |
          mvn -q clean compile package -DskipTests -Darch=-aarch64
          cp target/MyLocalTon.jar artifacts/MyLocalTon-arm64.jar

      - name: Build arm64-aarch64 testnet
        run: |
          mvn clean compile package -DskipTests -Dton_branch=testnet -Darch=-aarch64
          cp target/MyLocalTon.jar artifacts/MyLocalTon-arm64-testnet.jar

      - name: Set version
        id: tag
        run: |
          VERSION=$(java -jar artifacts/MyLocalTon-x86-64.jar version)
          echo "VERSION=$VERSION" >> $GITHUB_OUTPUT          

      - name: Read version
        run: |
          echo ${{ steps.tag.outputs.VERSION }}

      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: artifacts/*.jar
          tag: ${{ steps.tag.outputs.VERSION }}
          overwrite: true
          file_glob: true
